body { 
overflow-x: hidden;
font-family: Futura, "Trebuchet MS", Arial, sans-serif;  
background-color: lightgrey;} 

/*navbar style*/

.navbar {
	text-transform:uppercase;
	font-size:.9rem;
	background: rgba(0,0,0,.6)!important;
}

.navbar-brand img{
	height: 2rem;
}

.navbar-nav li {
	padding-right:.5rem;
}

.navbar-dark .navbar-nav .navbar-link {
	color: white;
	padding-top:.5rem;
}

.navbar-dark .navbar-nav .navbar-link .active,
.navbar-dark .navbar-nav .navbar-link:hover {
color: #650d10;
}

/*slider style*/
.carousel-item {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      height: 600px;
      position: relative;
      z-index: 0; 
      padding-top: 3rem
  }
      @media (max-width: 1199.98px) {
#carouselindicators {
	color: #650d10;
}
/*about section style*/
 .gge-about-section {
  position: relative; }
 .gge-about-section .text-wrapper {
    height: 600px;
    width: 100%; }
    @media (max-width: 767.98px) {
      .gge-about-section .text-wrapper {
        height: inherit; } }
  .gge-about-section .one-half {
    width: 50%; }
    @media (max-width: 767.98px) {
      .gge-about-section .one-half {
        width: 100%;
        margin-left: 30px; } }
    @media (min-width: 1200px) {
      .gge-about-section .one-half.half-text {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 1140px;
        margin: 0 auto; }
        .gge-about-section .one-half.half-text .text-inner {
          max-width: 50%; } }
    
  .gge-about-section .img {
    height: 600px;
    background: #ffd615;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat; }
    @media (max-width: 767.98px) {
      .gge-about-section .img {
        margin-bottom: 20px; } }

.about {
	margin: 20px;
}

.about .btn {
  background-color: #650d10;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.gge-pledge-section {
  background-image: url("fixedimg1.png")
}
.parallax { 
  /* The image used */
  background-image: url("https://www.gothamgazette.com/images/graphics/2018/building-school-girl.jpg");

  /* Set a specific height */
  height: 500px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.heading-section .subheading {
  font-size: 12px;
  display: inline-block;
  margin-bottom: 0px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.8);
  letter-spacing: 8px;
  font-weight: 600;
  position: relative; }
  .heading-section .subheading:after {
    position: absolute;
    top: 49%;
    left: -170px;
    content: '';
    width: 150px;
    height: 1px;
    background: rgba(0, 0, 0, 0.1); }
  .heading-section .subheading:before {
    position: absolute;
    top: 49%;
    right: -170px;
    content: '';
    width: 150px;
    height: 1px;
    background: rgba(0, 0, 0, 0.1); }
  @media (max-width: 767.98px) {
    .heading-section .subheading:after, .heading-section .subheading:before {
      display: none; } }
.cards {
	display:flex;
	justify-content: center;
}
.card {
	margin-bottom:20px; 
	background-color:#650d10;
}
.card p {
	padding-top: 0px
}

.policy {width: 30%; float:left;
margin: 1.66%
}
.gge-social {
  padding: 0; }
.gge-social li {
    list-style: none;
    margin-right: 10px;
    display: inline-block; }
 .gge-social {
    opacity: 1;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease; }
.gge-social li a {
      color: #000000; }
.pressdesign {
      opacity: 1;
      width: 100%; 
      text-align:center;}
.press-wrap {
  margin-bottom: 50px; }
  .press-wrap .img {
  	background-repeat: no-repeat;
    display: block;
    height: 450px;
    position: relative;
    z-index: 0;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px; }
    .press-wrap .img:after {
      position: absolute;
      top: 15px;
      left: 15px;
      right: 15px;
      bottom: 15px;
      content: '';
      border: 1px solid rgba(255, 255, 255, 0.1);
      z-index: -1; }
    .press-wrap .img .text-content {
      z-index: 1; }
      .press-wrap .img .text-content span {
        text-transform: uppercase;
        letter-spacing: 4px;
        font-size: 12px;
        color: #fff; }
      .press-wrap .img .text-content h3 {
        color: #fff; }
      .press-wrap .img .text-content .btn-custom {
        border: 1px solid rgba(255, 255, 255, 0.4);
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        border-radius: 5px;
        color: #fff;
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: 3px; }
        @media (max-width: 991.98px) {
          .press-wrap .img .text-content .btn-custom {
            display: block; } }
        .press-wrap .img .text-content .btn-custom:hover, .press-wrap .img .text-content .btn-custom:focus {
          background: #650d10;
          border: 1px solid #650d10; }
  .press-wrap .text h2 {
    font-size: 24px;
    font-weight: 400; }
    .press-wrap .text h2 a {
      color: #000000; }
  .press-wrap .meta span {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 11px;
    margin-bottom: 15px;
    letter-spacing: 3px;
    text-transform: uppercase; }

#contact-section {
	justify-content:center;
 }
